<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/styles.css')}}">

    <script src="{{url_for('static', filename='/javascript/scripts.js')}}" defer></script>
    <script src="{{url_for('static', filename='/javascript/cube_scripts.js')}}" defer></script>
</head>
<body id="login_page">
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    
                {% endif %}
            {% endwith %}
        </div>

    <div class="top-bar" id="topBar">
        <div class="menu-icon" id="menuIcon" onclick="toggleMenu()">
            <span></span>
        </div>
        <div class="menu" id="menu">
            
            <button onclick="handleButtonClick(event, '/login')">Kirjaudu sisään</button>
            
        </div>
        
    </div>
    <div class="spacer-div"></div>
    <div class="outer-container" id="outerContainer">
        
        <div class="cube-container" id="cubeContainer">
            <div class="cube" id="cube">
            <div class="cube-face" id="frontFace">
                <form id="loginform" action="/login" method="post" class="login-form" onsubmit="return handleSubmit(event, 'loginform')" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="text-container"><h2>Kirjaudu sisään tilillesi</h2></div>
                        
                        <div class="input-container">
                            {% if form.email.errors %}
                                {{ form.email(style="border: 1px solid #e57373;", placeholder=" ") }}
                                {{ form.email.label }}
                                <div class="invalid-feedback">{{ form.email.errors[0] }}</div>
                            {% else %}
                                {{ form.email(placeholder=" ") }}
                                {{ form.email.label }}
                            {% endif %}
                        </div>
                        <div class="input-container">
                            {% if form.password.errors %}
                                {{ form.password(style="border: 1px solid #e57373;", placeholder=" ") }}
                                {{ form.password.label }}
                                <div class="invalid-feedback">{{ form.email.errors[0] }}</div> 
                            {% else %}
                                {{ form.password(placeholder=" ") }}
                                {{ form.password.label }}
                            {% endif %}
                        </div>
                        <button style="margin-bottom: 2%;" type="submit">Kirjaudu sisään</button>
                    </form>
            </div> 

            <div class="cube-face">
                
            </div>

            <div class="cube-face">
                
            </div>

            <div class="cube-face">
                
            </div>

            <div class="cube-face">
                
            </div>

            <div class="cube-face">
                
            </div>
            
            </div>
        </div>
    </div>

</body>
</html>